$app: '/a/app/' !default;
$admin: '/a/admin/' !default;
$site: '/a/site/' !default;

$container-width:1440px !default;
$container-percent:90% !default;
$color: #353535 !default;
$blue: #005498 !default;
$purple-blue: #3B519D !default;
$gray: #8D8D8D !default;
$section-bg: #F5F7FA !default;
$padding: 30px;