$app: '/f/app/' !default;
$admin: '/f/admin/' !default;
$site: '/f/site/' !default;

$container-width:1440px !default;
$color: #353535 !default;
$blue: #005498 !default;
$gray: #8D8D8D !default;
$section-bg: #F5F7FA !default;
$padding: 30px;