@import '../base';
.cabinet-row {
    display:flex;
    align-items: flex-start;
}
.cabinet-left {
    flex:0 0 380px;
    max-width: 380px;
    padding-right:20px;
}
.cabinet-right {
    flex:1;
}
.cabinet-sidebar {
    @include box-shadow(0 3px 6px 0 rgba(0,0,0,.16));
    padding:26px 0;
}
.cs-head {
    text-align: center;
}
.avatar-image {
    display:inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size:0;
    width:80px;
    height:80px;
    background: $blue url($site + 'img/user.svg') center center no-repeat;
    color:#ffffff;
    @include border-radius(50%);
    overflow: hidden;
}
.cs-name {
    font-size:19px;
    font-weight: 500;
}
.cs-region {
    font-size:14px;
    color:#AEAEAE;
}
.cs-links {
    margin-top:20px;
    >div {
        padding:1px 0;
    }
}
a.cs-link {
    display:block;
    text-decoration: none;
    color:#8B8B8B;
    padding:11px 30px;
    line-height: 1;
    @include transition(#{background-color .3s ease, color .3s ease});
    &:hover, &.active {
        background-color: #D6E3EE;
        color:$blue;
    }
}
.cabinet-title {
    font-size:24px;
    color:$blue;
}
.cabinet-title-sm {
    font-size:20px;
    color:$blue;
}
.cabinet-info {
    font-size:18px;
}
.cabinet-border {
    border-top:1px solid #eeeeee;
}
//region Search
.home-search {
    background-color: #FBF9F9;
    padding: 15px 0 40px 0;
}
.home-search-block {
    padding:30px 40px;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content: space-between;
    &:not(:last-child) {
        border-bottom:1px solid #E8E8E8;
    }
}
.home-search-title {
    font-size:18px;
    color: $blue;
    font-weight: 500;
    width:153px;
    padding-right:3px;
}
.home-search-content {
    flex:1;
    font-size:0;
}
.home-search-option {
    display:inline-block;
    color:#333333;
    font-size:15px;
    cursor:pointer;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:not(:last-child) {
        margin-right:18px;
    }
}
.max-exceeded {
    .home-search-option:not(.selected), .search-group-select:not(.selected) {
        color:#949494 !important;
        text-decoration: none !important;
        cursor:default !important;
    }
}
#page .home-search-disabled {
    color:#949494 !important;
    text-decoration: line-through !important;
    cursor:default !important;
}
.home-search-buttons {
    padding-left:5px;
}
button.home-search-btn  {
    font-size:15px;
    background-color:$blue;
    color:#ffffff;
    border:1px solid $blue;
    height:51px;
    min-width:98px;
    padding:0 20px;
}
.home-search-input {
    font-size:15px;
}
select.home-search-control {
    width:470px;
    height:52px;
    background-color: #ffffff;
    border:1px solid #DCDCDC;
    padding:0 10px;
    font-size:15px;
}
.home-search-expanded {
    flex:0 0 100%;
    max-width: 100%;
    padding-left:153px;
}
.expanded-container {
    padding-top:15px;
}
.search-group-title {
    font-weight:bold;
    color:#292929;
    font-size:18px;
    padding-bottom:3px;
}
.search-group-item {
    font-size:15px;
    line-height: 1;
    margin-bottom:10px;
}
.search-group-select {
    color:#333333;
    margin-top:3px;
    cursor:pointer;
    &:hover {
        text-decoration: underline;
    }
}
.search-group-select.selected, .home-search-option.selected {
    color:$blue;
    font-weight:500;
    text-decoration: underline;
}
.home-search-toggle {
    &:after {
        content: 'Еще';
        display:inline;
    }
    .expanded &:after {
        content: 'Скрыть';
    }
}
.loader {
    display:none;
    z-index:1;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background-color:#f1f1f1;
    &::before {
        $size: 50px;
        content:'';
        display:block;
        position:absolute;
        border: 6px solid #aaaaaa;
        border-top-color: #eeeeee;
        border-radius: 50%;
        @include m(width height, $size);
        @include m(top left, calc(50% - #{$size/2}));
        animation: spin 2s linear infinite;
    }
    &.loader-sm:before {
        $size: 25px;
        @include m(width height, $size);
        @include m(top left, calc(50% - #{$size/2}));
        border-width: 3px;
    }
    &.loader-ng:before {
        $size: 18px;
        @include m(width height, $size);
        @include m(top left, calc(50% - #{$size/2}));
        border-width: 3px;
    }
    .loader-shown & {
        display:block;
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
//endregion
.cabinet-block {
    margin:10px 0;
    padding-top: 10px;
    border-top: 1px solid #cecece;
}
.cabinet-block-title {
    font-size:18px;
}
.cabinet-block-content {
    padding:10px 0;
    font-size:15px;
}
.cabinet-block-info {
    padding: 4px 0;
    border-bottom:1px solid #eeeeee;
}
.cabinet-form-row {
    display:flex;
    flex-wrap: wrap;
    margin:0 -15px;
}
.cabinet-form-col {
    padding:0 15px;
    flex: 0 0 430px;
    max-width: 430px;
}
.cabinet-select2 {
    .select2-container .select2-selection--single {
        height:38px;
        border-color:#ced4da;
        &[aria-expanded="true"] {
            border-left-color:$blue;
            border-top-color:$blue;
            border-right-color:$blue;
        }
        .select2-selection__rendered {
            line-height: 36px;
        }
        .select2-selection__arrow {
            height:36px;
        }
    }
}
input:read-only {
    cursor: default  !important;
}
.search-page-data {
    font-size:15px;
}
.page-link {
    color:$blue;
    box-shadow: none !important;
}
.page-item.active .page-link {
    background-color: $blue;
    border-color:$blue;
}
.header-menu-search {
    width:278px;
    height:40px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right:5px;
    border: 1px solid $blue;
    position:relative;
}
.header-search-form {
    width:100%;
    height:100%;
    display:flex;
}
input.header-search-input {
    height:100%;
    border:none;
    background: none;
    color:#333333;
    display: block;
    flex:1;
    padding-left: 8px;
}
button.header-search-btn {
    display:block;
    width:40px;
    height:40px;
    border:none;
    background: none;
    color:$blue;
}
.header-search-results {
    display:block;
    position:absolute;
    top:100%;
    right:0;
    width:100%;
    background: #ffffff;
    z-index: 1;
    padding:4px 0;
    @include box-shadow(0 3px 6px 0 rgba(0,0,0,.16));
    >a {
        display:block;
        padding:4px 5px;
        color:#333333;
        font-size:15px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            background-color:#eeeeee;
        }
    }

}
input.basket-checkbox {
    -webkit-appearance: checkbox;
    width:15px;
    height:15px;
    vertical-align: middle;
}
@include media(1599) {
    button.home-search-btn {
        height: 45px;
    }
    .home-search-title {
        width:120px;
        font-size:16px;
    }
    .home-search-block {
        padding:20px;
    }
    .home-search-expanded {
        padding-left:120px;
    }
}
@include media (1365) {
    .home-search-expanded {
        padding-left:0;
    }
}
@media print {
    .bank-container {
        .cabinet-block-title {
            font-size:30px;
        }
        .cabinet-block-content {
            font-size:24px;
        }
    }
}
