@import '../base';
.products-block {
    display:flex;
    align-items: flex-start;
}
.products-filters {
    flex: 0 0 25%;
    max-width:25%;
    padding-right:10px;
}
.products-content {
    flex: 0 0 75%;
    max-width: 75%;
}
.products-filter {
    &:not(:first-child) {
        margin-top:10px;
    }
}
.filter-name {
    height:50px;
    padding:0 17px;
    font-size:17px;
    line-height:1;
    border:1px solid #EEEEEE;
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor:pointer;
    color:#949494;
    &:after {
        @include fas(f107, false);
        margin-left:3px;
    }
}
.filter-values {
    //display:none;
}
