@import '../base';
.products-block {
    display:flex;
    align-items: flex-start;
}
.products-filters {
    flex: 0 0 25%;
    max-width:25%;
    padding-right:10px;
}
.products-content {
    flex: 0 0 75%;
    max-width: 75%;
}
.products-filter {
    &:not(:first-child) {
        margin-top:10px;
    }
}
.filter-name {
    height:50px;
    padding:0 17px;
    font-size:17px;
    line-height:1;
    border:1px solid #EEEEEE;
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor:pointer;
    color:#949494;
    @include transition(#{color .3s ease, background-color .3s ease});
    &:after {
        @include fas(f107, false);
        margin-left:3px;
        @include transition(transform .3s ease, webkit moz);
    }
    .filter-expanded>&{
        background-color:$blue;
        color:#ffffff;
        &:after {
            @include transform(rotate(180deg));
        }
    }
}
.filter-content {
    overflow:hidden;
    max-height: 0;
    @include transition(max-height .3s ease);
    .filter-expanded>& {
        max-height: 360px;
    }
}
.filter-values {
    border:1px solid #EEEEEE;
    padding:23px;
    max-height: inherit;
    overflow-y:auto;
    scrollbar-color:$blue #f6f8fa;
    &::-webkit-scrollbar{
        width: 9px;
    }
    &::-webkit-scrollbar-track{
        background-color: #F5F7FA;
        @include box-shadow(none);
    }
    &::-webkit-scrollbar-thumb {
        background: $blue url($site + 'img/scroll-dashes.png') center center no-repeat;
        @include background-size(7px 7px);
        &:hover {
            background-color: #0060ad;
        }
    }

}
label.filter-value {
    display:block;
    cursor:pointer;
}
input.filter-checkbox {
    display:none;
    +span {
        display:inline-flex;
        font-size:19px;
        color:#4A4A4A;
        align-items:center;
        &:before {
            content:'';
            display:inline-block;
            width:23px;
            height:23px;
            border:2px solid #4A4A4A;
            @include border-radius(4px);
            overflow: hidden;
            margin-right: 20px;
        }
    }
}
